/*主体框架部分样式begin*/
html{
	font-size: 13px;
}
body{
	background: #f3f6f8;
}
#container{
	position: absolute;
	box-sizing: border-box;
	padding: 20px;
	top: 0;
	left: 240px;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
.container-row{
	padding: 15px;
	background: white;
	border-radius: 4px;
	margin-bottom: 20px;
}
.container-row .row > *{
	padding-bottom: .8rem;
}
.container-row.form-inline > *{
	margin: 0;
	padding: 0 4px 4px 0;
}
.container-row .table button{
	margin: 0 2px 1px 0;
}
@media only screen and (max-width: 640px) {
	#container {
		position: static;
		left: 0;
		padding: 10px;
	}
	.container-row{
		padding: 10px;
	}
}
#pagination{
	margin-top: 15px;
}
#pagination ul{
	margin: 0;
	padding: 0;
}
.page-item{
	float: left;
	list-style: none;
}
.page-item .page-link{
	display: inline-block;
}
.form-multiselect-row{
	width: 100%;
}
.form-multiselect-row *{
	vertical-align: middle;
}
.form-multiselect-row label {
	padding-right: 12px;
}
.note-view button:first-child,
.note-view button:last-child{
	display: none;
}
/*主体框架部分样式end*/


