<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="谈治烨">
<meta name="Copyright" content="4CM工作室">
<meta name="applicable-device" content="pc, mobile">
<meta name="renderer" content="webkit">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" media="screen"/>
<link rel="stylesheet" href="/ui/bootstrap4/css/bootstrap.min.css" />
<link rel="stylesheet" href="/ui/iconfont/bootstrap.css" />
<script type="text/javascript" src="/common/jquery/1.12.4.min.js"></script>
<script type="text/javascript" src="/ui/bootstrap4/js/bootstrap.min.js"></script>