<div id="fcmDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fcmDialogTitle" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<span class="modal-title" id="fcmDialogTitle"></span>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div id="fcmDialogContent" class="modal-body"></div>
			<div class="modal-footer">
				<button id="fcmBtnNo" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button id="fcmBtnYes" type="button" class="btn btn-primary">确定</button>
			</div>
		</div>
	</div>
</div>