<div id="sidebar">
	<div id="sideScrollBar">
		<div id="sideScrollBarSlider"></div>
	</div>
	<div id="sidebarContent">
		<div class="admin-box clearfix">
			<div class="admin-tag float-left">谈</div>
			<div class="admin-info float-left">
				<div class="operator-name">治烨</div>
				<div class="role-name text-muted">
					<span>超级管理员</span>
					<a id="logout" href="javascript:;">[注销]</a>
				</div>
			</div>
			<div class="float-right mobile-nav-icon">
				<i class="glyphicon glyphicon-list"></i>
			</div>
		</div>
		<nav>
            <li>
                <a href="javascript:;">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>平台管理</span>
                    <i class="float-right glyphicon glyphicon-chevron-down"></i>
                </a>
                <ul>
                    <li><a href="/4cm/site/list" data-onpage="1">站点管理</a></li>
                    <li><a href="javascript:;">成员管理</a></li>
                    <li><a href="javascript:;">职能与权限</a></li>
                </ul>
            </li>
		</nav>
	</div>
</div>