<div id="sidebar">
	<div id="sideScrollBar">
		<div id="sideScrollBarSlider"></div>
	</div>
	<div id="sidebarContent">
		<div class="admin-box clearfix">
			<div class="admin-tag float-left">谈</div>
			<div class="admin-info float-left">
				<div class="operator-name">治烨</div>
				<div class="role-name text-muted">
					<span>超级管理员</span>
					<a id="logout" href="javascript:;">[注销]</a>
				</div>
			</div>
		</div>
		<nav>
			<li>
				<a href="javascript:;">
					<i class="glyphicon glyphicon-user"></i>
					<span>角色管理1</span>
					<i class="float-right glyphicon glyphicon-chevron-down"></i>
				</a>
				<ul>
					<li>
						<a href="javascript:;">角色管理2</a>
					</li>
					<li>
						<a href="javascript:;" data-onpage="1">角色管理3</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:;">
					<i class="glyphicon glyphicon-user"></i>
					<span>角色管理4</span>
					<i class="float-right glyphicon glyphicon-chevron-right"></i>
				</a>
				<ul>
					<li>
						<a href="javascript:;">角色管理5</a>
					</li>
					<li>
						<a href="javascript:;">角色管理6</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:;">
					<i class="glyphicon glyphicon-user"></i>
					<span>角色管理7</span>
					<i class="float-right glyphicon glyphicon-chevron-right"></i>
				</a>
				<ul>
					<li>
						<a href="javascript:;">角色管理8</a>
					</li>
					<li>
						<a href="javascript:;">角色管理9</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:;">
					<i class="glyphicon glyphicon-user"></i>
					<span>角色管理10</span>
					<i class="float-right glyphicon glyphicon-chevron-right"></i>
				</a>
				<ul>
					<li>
						<a href="javascript:;">角色管理11</a>
					</li>
					<li>
						<a href="javascript:;">角色管理12</a>
					</li>
				</ul>
			</li>
		</nav>
	</div>
</div>