#sidebar {
	position: absolute;
	box-sizing: border-box;
	width: 240px;
	top: 0;
	left: 0;
	right: auto;
	bottom: 0;
	background: #fff;
	z-index: 999;
	overflow: hidden;
}

#sideScrollBar {
	position: absolute;
	width: 10px;
	height: 100%;
	background: #fff;
}

#sideScrollBarSlider {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background: #d7dadd;
}

#sidebarContent {
	padding: 30px;
}

.admin-box{
	padding-bottom: 50px;
}
.admin-tag{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #434959;
	color: #fff;
	font-size: 30px;
	text-align: center;
}
.admin-info{
	margin: 5px 0 0 15px;
}
.operator-name{
	font-size: 15px;
	font-weight: 700;
}
.mobile-nav-icon{
	display: none;
	padding-top: 6px;
	font-size: 2em;
}
#logout{
	margin-left: 4px;
}
#sidebar nav{
	font-size: 14px;
}
#sidebar nav li{
	list-style: none;
}
#sidebar nav a{
	display: block;
	padding: 10px 0;
	color: #495057;
}
#sidebar nav a span{
	margin-left: 10px;
}
#sidebar nav ul{
	display: none;
	padding-left: 28px;
}
#sidebar .active{
	color: #02c0ce;
}

@media only screen and (max-width: 640px) {
	#sidebar {
		position: static;
		width: auto;
		background: none;
	}
	#sideScrollBar{
		display: none;
	}
	#sidebarContent{
		padding: 20px;
	}
	#sidebar .admin-box{
		padding: 0;
	}
	#sidebar nav{
		display: none;
	}
	.mobile-nav-icon{
		display: block;
	}
	#sidebar nav{
		margin-top: 20px;
	}
	#sidebar nav > li{
		margin-top: 5px;
	}
	#sidebar nav a{
		padding: 5px 0;
	}
	#sidebar ul{
		margin-bottom: 0;
	}
}