<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="谈治烨">
<meta name="Copyright" content="4CM工作室">
<meta name="applicable-device" content="pc, mobile">
<meta name="renderer" content="webkit">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" media="screen"/>
<link rel="stylesheet" href="/ui/bootstrap4/css/bootstrap.min.css"/>
<script type="text/javascript" src="/common/jquery/3.3.1.min.js"></script>
<script type="text/javascript" src="/ui/bootstrap4/js/bootstrap.min.js"></script>
<style>
	li{
		list-style-position: inside;
	}
	.code{
		width: 100%;
		padding: 12px;
		border: 1px solid #ddd;
		border-radius: 4px;
		background: #f9f9f9;
		color: #777;
		font-size: 14px;
	}
	.code p{
		margin: 0;
	}
	.code ul{
		margin: 0 0 0 10px;
		border-left: 1px dashed #999;
	}
	.code li{
		list-style: none;
		padding-left: 5px;
	}
	.code .indent{
		margin-left: 1.7em;
	}
	.block-indent{
		margin-left: 2em;
	}
	.annotation{
		padding: 1em 1.8em;
		border-left: 8px solid #ffc107;
		background: #f4f8fa;
		color: #007bff;
	}
	mark{
		border: 1px solid #ddd;
		border-radius: 4px;
	}
</style>